body {
    background: linear-gradient(to bottom, #0000ff1f, white);
}

.container-pokemones .card .card-content .card-title {
    font-size: 19px !important;
}

.fz-12 {
    font-size: 12px;
}

.fz-13 {
    font-size: 13px;
}

.sidenav-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}